<?xml version="1.0" encoding="utf-8" ?>
<akka>
  <hocon>
    <![CDATA[
          akka {
            log-config-on-start = off
            stdout-loglevel = DEBUG
            loglevel = DEBUG
            log-remote-lifecycle-events = INFO
            loggers=["Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"]

            actor {
              provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
              debug {
                receive = on
                autoreceive = on
                lifecycle = on
                event-stream = on
                unhandled = on
              }
            }
          }
      ]]>
  </hocon>
</akka>