<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" xsi:type="Console" layout="[${longdate}] [${logger}] [${level:uppercase=true}] [Thread ${threadid}] : ${message}" />
    <target name="mainLog" xsi:type="File" fileName="${basedir}/Logs/main.log" layout="[${longdate}] [${logger}] [${level:uppercase=true}] [Thread ${threadid}] : ${message}" />
    <target name="eventStreamLog" xsi:type="File" fileName="${basedir}/Logs/eventstream.log" layout="[${longdate}] [${level:uppercase=true}] [Thread ${threadid}] : ${message}" />
    <target name="monitorLog" xsi:type="File" fileName="${basedir}/Logs/monitor.log" layout="[${longdate}] [${level:uppercase=true}] [Thread ${threadid}] : ${message}" />
    <target name="monitorResultProcessorLog" xsi:type="File" fileName="${basedir}/Logs/monitorresultprocessor.log" layout="[${longdate}] [${level:uppercase=true}] [Thread ${threadid}] : ${message}" />
    <target name="monitorSupervisorLog" xsi:type="File" fileName="${basedir}/Logs/monitorsupervisor.log" layout="[${longdate}] [${level:uppercase=true}] [Thread ${threadid}] : ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="mainLog" />
    <logger name="Akka.Event.EventStream" minlevel="Trace" writeTo="eventStreamLog" />
    <logger name="Monitor.Actors.Monitor" minlevel="Trace" writeTo="monitorLog" />
    <logger name="Monitor.Actors.MonitorResultProcessor" minlevel="Trace" writeTo="monitorResultProcessorLog" />
    <logger name="Monitor.Actors.MonitorSupervisor" minLevel="Trace" writeTo="monitorSupervisorLog" />
  </rules>
</nlog>