<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <akka>
    <hocon>
      <![CDATA[
        akka {  
          stdout-loglevel = DEBUG
          loglevel = DEBUG
          actor.debug.unhandled = on
          actor {
            provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
            serializers {
              wire = "Akka.Serialization.WireSerializer, Akka.Serialization.Wire"
            }
            serialization-bindings {
              "System.Object" = wire
            }
          }
          remote {
            log-remote-lifecycle-events = off
            helios.tcp {
              hostname = "127.0.0.1"
              port = 5555        
            }
          }
          cluster {
            roles = ["seed"]
            seed-nodes = ["akka.tcp://remote-cluster-system@127.0.0.1:5555"]
            auto-down-unreachable-after = 10s
            
            client{
              response-tunnel-receive-timeout=100s
            }
          }
        }
      ]]>
    </hocon>
  </akka>
</configuration>