<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.ProtocolBuffers" version="2.4.1.555" targetFramework="net45" />
  <package id="Helios" version="1.4.1" targetFramework="net45" />
  <package id="DotNetty.Buffers" version="0.2.0" targetFramework="net45" />
  <package id="DotNetty.Codecs" version="0.2.0" targetFramework="net45" />
  <package id="DotNetty.Common" version="0.2.0" targetFramework="net45" />
  <package id="DotNetty.Transport" version="0.2.0" targetFramework="net45" />
</packages>