<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <akka>
    <hocon>
      <![CDATA[
          akka {  
            log-config-on-start = on
            stdout-loglevel = DEBUG
            loglevel = ERROR
            actor {
                provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
        
                debug {  
                  receive = off 
                  autoreceive = on
                  lifecycle = on
                  event-stream = on
                  unhandled = on
                }
            }

            deployment{
                /user/timeChecker{
                    router = round-robin-pool
                    nr-of-instances = 10
                }
            }

            remote {
		        log-received-messages = off
		        log-sent-messages = off

                #this is the new upcoming remoting support, which enables multiple transports
               dot-netty.tcp {
                    transport-class = "Akka.Remote.Transport.DotNetty.TcpTransport, Akka.Remote"
		            applied-adapters = []
		            transport-protocol = tcp
		            port = 0 #bind to any available port
		              hostname = 0.0.0.0 #listens on ALL ips for this machine
                  public-hostname = localhost #but only accepts connections on localhost (usually 127.0.0.1)
                  dns-use-ipv6 = true
                }
                log-remote-lifecycle-events = INFO
            }

        }
      ]]>
    </hocon>
  </akka>
</configuration>