
#JelloWrapper {
	background:url('bg_vstudio.png') no-repeat 200px 0
}

* html .internav {
	background-color:#21244a
}

* html .internav a:hover {
	background-color:#181c39
}

.internav a.active, .internav a.active:hover {
	background-color:#735aaf
}

* html .internav a.active, * html .internav a.active:hover {
	background-color:#7359ad
}

.LocalNavigation {
	background:url('subnav_vstudio.png') repeat-y top right
}

* html .LocalNavigation {
	background-color:#7359ad;
	background-image:none
}

.LocalNavigation .TabOff a:hover {
	background-color:#634d9c
}

.LocalNavigation .TabOn {
	background-color:#4c3c79
}
