<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <akka>
    <hocon><![CDATA[
      akka {
        test {
          value = 10
        }
      }
      ]]></hocon>
  </akka>
</configuration>