<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog>
    <targets>
      <target name="UdpOutlet" type="NLogViewer" address="udp://localhost:7071" />
      <target name="StdOut" type="Console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" writeTo="UdpOutlet" />
    </rules>
  </nlog>
<runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"></assemblyBinding></runtime></configuration>