<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <akka>
    <hocon>
      <![CDATA[
        akka {  
          stdout-loglevel = DEBUG
          loglevel = INFO        
          actor {
            provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
           # provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
            serializers {
              wire = "Akka.Serialization.WireSerializer, Akka.Serialization.Wire"
            }
            serialization-bindings {
              "System.Object" = wire
            }
          }
          remote {
            log-remote-lifecycle-events = off
            dot-netty.tcp {
              hostname = "127.0.0.1"
              port = 0       
            }
          }
          cluster {
            roles = []
            seed-nodes = ["akka.tcp://singleton-cluster-system@127.0.0.1:2551"]
            auto-down-unreachable-after = 10s
            
            singleton-proxy {
              singleton-name = "manager"
              role = ""
              singleton-identification-interval = 1s
              buffer-size = 100
            }
            
            client {
              initial-contacts = ["akka.tcp://singleton-cluster-system@127.0.0.1:2551/system/receptionist"]
            }
          }
        }
      ]]>
    </hocon>
  </akka>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" />
  </runtime>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" >
      <dependentAssembly>
        <assemblyIdentity name="Google.ProtocolBuffers.Serialization" publicKeyToken="55f7125234beb589" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.555" newVersion="2.4.1.555" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.ProtocolBuffers" publicKeyToken="55f7125234beb589" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.555" newVersion="2.4.1.555" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>