<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>

<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.8.1/vis.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.8.1/vis.min.css" rel="stylesheet" type="text/css" />
	<style type="text/css">
		.vis-item-one { border-color:#00AABF; background-color:#7FD4DF; }
		.vis-item-two { border-color:#0D9DBC; background-color:#86CEDD; }
		.vis-item-three { border-color:#1B91B9; background-color:#8DC8DC; }
		.vis-item-four { border-color:#2885B6; background-color:#93C2DA; }
		.vis-item-five { border-color:#3679B3; background-color:#9ABCD9; }
		.vis-item-six { border-color:#446DB0; background-color:#A1B6D7; }
		.vis-item-seven { border-color:#5161AD; background-color:#A8B0D6; }
		.vis-item-eight { border-color:#5F55AB; background-color:#AFAAD5; }
		.vis-item-nine { border-color:#6D48A8; background-color:#B6A3D3; }
		.vis-item-ten { border-color:#7A3CA5; background-color:#BC9DD2; }
		.vis-item-eleven { border-color:#8830A2; background-color:#C397D0; }
		.vis-item-twelve { border-color:#96249F; background-color:#CA91CF; }
		.vis-item-thirteen { border-color:#A3189C; background-color:#D18BCD; }
		.vis-item-fourteen { border-color:#B10C99; background-color:#D885CC; }
		.vis-item-fifteen { border-color:#BF0097; background-color:#DF7FCB; }
		div.cross-image {
			width:            16px;
			height:           16px;
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAIhSURBVDjLlZPrThNRFIWJicmJz6BWiYbIkYDEG0JbBiitDQgm0PuFXqSAtKXtpE2hNuoPTXwSnwtExd6w0pl2OtPlrphKLSXhx07OZM769qy19wwAGLhM1ddC184+d18QMzoq3lfsD3LZ7Y3XbE5DL6Atzuyilc5Ciyd7IHVfgNcDYTQ2tvDr5crn6uLSvX+Av2Lk36FFpSVENDe3OxDZu8apO5rROJDLo30+Nlvj5RnTlVNAKs1aCVFr7b4BPn6Cls21AWgEQlz2+Dl1h7IdA+i97A/geP65WhbmrnZZ0GIJpr6OqZqYAd5/gJpKox4Mg7pD2YoC2b0/54rJQuJZdm6Izcgma4TW1WZ0h+y8BfbyJMwBmSxkjw+VObNanp5h/adwGhaTXF4NWbLj9gEONyCmUZmd10pGgf1/vwcgOT3tUQE0DdicwIod2EmSbwsKE1P8QoDkcHPJ5YESjgBJkYQpIEZ2KEB51Y6y3ojvY+P8XEDN7uKS0w0ltA7QGCWHCxSWWpwyaCeLy0BkA7UXyyg8fIzDoWHeBaDN4tQdSvAVdU1Aok+nsNTipIEVnkywo/FHatVkBoIhnFisOBoZxcGtQd4B0GYJNZsDSiAEadUBCkstPtN3Avs2Msa+Dt9XfxoFSNYF/Bh9gP0bOqHLAm2WUF1YQskwrVFYPWkf3h1iXwbvqGfFPSGW9Eah8HSS9fuZDnS32f71m8KFY7xs/QZyu6TH2+2+FAAAAABJRU5ErkJggg==');
		}
		div.tick-image {
			width:            16px;
			height:           16px;
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAGrSURBVDjLvZPZLkNhFIV75zjvYm7VGFNCqoZUJ+roKUUpjRuqp61Wq0NKDMelGGqOxBSUIBKXWtWGZxAvobr8lWjChRgSF//dv9be+9trCwAI/vIE/26gXmviW5bqnb8yUK028qZjPfoPWEj4Ku5HBspgAz941IXZeze8N1bottSo8BTZviVWrEh546EO03EXpuJOdG63otJbjBKHkEp/Ml6yNYYzpuezWL4s5VMtT8acCMQcb5XL3eJE8VgBlR7BeMGW9Z4yT9y1CeyucuhdTGDxfftaBO7G4L+zg91UocxVmCiy51NpiP3n2treUPujL8xhOjYOzZYsQWANyRYlU4Y9Br6oHd5bDh0bCpSOixJiWx71YY09J5pM/WEbzFcDmHvwwBu2wnikg+lEj4mwBe5bC5h1OUqcwpdC60dxegRmR06TyjCF9G9z+qM2uCJmuMJmaNZaUrCSIi6X+jJIBBYtW5Cge7cd7sgoHDfDaAvKQGAlRZYc6ltJlMxX03UzlaRlBdQrzSCwksLRbOpHUSb7pcsnxCCwngvM2Rm/ugUCi84fycr4l2t8Bb6iqTxSCgNIAAAAAElFTkSuQmCC');
		}
		div.border {
			border-style: dashed;
			border-width: thin;
			margin-bottom: 5px;
		}
	</style>
	<title><# Write(Prefix); #></title>
</head>
<body>
<details>
	<summary>Help / Instructions</summary>
	<p>Click on a timeline to activate. Click off the timeline or press ESC to deactivate</p>
	<p>Scroll up to zoom into an active timeline. Scroll down to zoom out of an active timeline</p>
	<p>Click and hold to move an active timeline.</p>
</details>
<# foreach (var spec in Tree.Specs) { #>
<div class="border">
<h3><# Write(spec.FactName.Replace(Prefix, "")); #></h3>
<div id="<# Write(BuildSpecificationId(spec)); #>"></div>

<script type="text/javascript">
	var container = document.getElementById('<# Write(BuildSpecificationId(spec)); #>');

	var items = [
		<# Write(BuildTimelineItem(spec)); #>
	];

	var groups = [
		<# Write(BuildGroupItems(spec)); #>
	];

	var options = <# Write(BuildOptions(spec)); #>;

	var timeline = new vis.Timeline(container, items, groups, options);
</script>
</div>
<# } #>
</body>
</html>