<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
// --- auto generated: <#= System.DateTime.UtcNow.ToString() #> --- //
//-----------------------------------------------------------------------
// <copyright file="UnzipWith.cs" company="Akka.NET Project">
//     Copyright (C) 2015-2016 Lightbend Inc. <http://www.lightbend.com>
//     Copyright (C) 2013-2016 Akka.NET project <https://github.com/akkadotnet/akka.net>
// </copyright>
//-----------------------------------------------------------------------
using System;
using Akka.Streams.Stage;
<# var count = 8; #>

namespace Akka.Streams.Dsl
{
    /// <summary>
    /// Defines a factory that creates a result value from a function mapping an input value to an output value.
    /// </summary>
    /// <typeparam name="TIn">The input type accepted by the function passed to <see cref="Create"/>.</typeparam>
    /// <typeparam name="TOut">The output type returned by the function passed to <see cref="Create"/>.</typeparam>
    /// <typeparam name="T">The result type returned by <see cref="Create"/>.</typeparam>
    public interface IUnzipWithCreator<out TIn, in TOut, out T>
    {
        /// <summary>
        /// Creates a result value using the supplied mapping function.
        /// </summary>
        /// <param name="unzipper">A function that maps a value of type <typeparamref name="TIn"/> to a value of type <typeparamref name="TOut"/>.</param>
        /// <returns>A value of type <typeparamref name="T"/> created using <paramref name="unzipper"/>.</returns>
        T Create(Func<TIn, TOut> unzipper);
    }

<# for (int i = 2; i < count; i++) { 
    var typeParams = string.Join(", ", Enumerable.Range(0, i).Select(x => "TOut" + x));
#>
    /// <summary>
    /// Base class for factories that create an unzip stage from a function returning a tuple of outputs.
    /// </summary>
    /// <typeparam name="TIn">The input element type accepted by the splitter.</typeparam>
<# for (int t = 0; t < i; t++) {  #>
    /// <typeparam name="TOut<#= t #>">The element type of output tuple item <c>Item<#= t+1 #></c>.</typeparam>
<# } #>
    public abstract class UnzipWithCreator<TIn, <#= typeParams #>> : IUnzipWithCreator<TIn, (<#= typeParams #>), UnzipWith<TIn, <#= typeParams #>>>
    {
        /// <summary>
        /// Creates an unzip stage for a function that maps one input element to a tuple of outputs.
        /// </summary>
        /// <param name="unzipper">A function that maps one input element to a tuple of output elements.</param>
        /// <returns>An unzip stage whose outputs correspond to the tuple items.</returns>
        public virtual UnzipWith<TIn, <#= typeParams #>> Create(Func<TIn, (<#= typeParams #>)> unzipper)
        {
            return new UnzipWith<TIn, <#= typeParams #>>(unzipper);
        }
    }
<# } #>

    /// <summary>
    /// Provides factories for unzip stages that split each input element into a tuple of output elements.
    /// </summary>
    public partial class UnzipWith 
    {
<# for (int i = 2; i < count; i++) { 
    var typeParams = string.Join(", ", Enumerable.Range(0, i).Select(x => "TOut" + x));
#>
        /// <summary>
        /// Creates an unzip stage using the supplied tuple-producing function and creator.
        /// </summary>
        /// <typeparam name="TIn">The input element type accepted by the splitter.</typeparam>
<# for (int t = 0; t < i; t++) {  #>
        /// <typeparam name="TOut<#= t #>">The element type of output tuple item <c>Item<#= t+1 #></c>.</typeparam>
<# } #>
        /// <param name="unzipper">A function that maps one input element to a tuple of output elements.</param>
        /// <param name="creator">The factory that constructs the unzip stage.</param>
        /// <returns>The stage created by <paramref name="creator"/> for <paramref name="unzipper"/>.</returns>
        public static UnzipWith<TIn, <#=typeParams#>> Apply<TIn, <#=typeParams#>>(Func<TIn, (<#=typeParams#>)> unzipper, UnzipWithCreator<TIn, <#=typeParams#>> creator)
        {
            return creator.Create(unzipper);
        }	
<# } #>
    }

<# for (int i = 2; i < count; i++) { 
    var typeParams = string.Join(", ", Enumerable.Range(0, i).Select(x => "T" + x));
#>
    /// <summary>
    /// Splits each input element into multiple output elements using a tuple-producing function.
    /// </summary>
    /// <typeparam name="TIn">The element type accepted by the input port and splitter function.</typeparam>
<# for (int t = 0; t < i; t++) {  #>
    /// <typeparam name="T<#= t #>">The element type emitted by output port <c>Out<#= t #></c>.</typeparam>
<# } #>
    public class UnzipWith<TIn, <#= typeParams #>> : GraphStage<FanOutShape<TIn, <#= typeParams #>>>
    {
        private sealed class UnzipWithStageLogic : InGraphStageLogic 
        {
            private readonly UnzipWith<TIn, <#= typeParams #>> _stage;
            private int _pendingCount = <#=i#>;
            private int _downstreamRunning = <#=i#>;
    <# for (var t = 0; t < i; t++) { #>
        private bool _pending<#=t#> = true;
    <# } #>

            public UnzipWithStageLogic(Shape shape, UnzipWith<TIn, <#= typeParams #>> stage) : base(shape)
            {
                _stage = stage;

                SetHandler(stage.In, this);				
                <# for (var t = 0; t < i; t++) { #>

                SetHandler(stage.Out<#=t#>, onPull: () => {
                    _pendingCount--;
                    _pending<#=t#> = false;
                    if (_pendingCount == 0) Pull(stage.In);
                },
                onDownstreamFinish: cause => {
                    _downstreamRunning--;
                    if (_downstreamRunning == 0) CancelStage(cause);
                    else 
                    {
                        if (_pending<#=t#>) _pendingCount--;
                        if (_pendingCount == 0 && !HasBeenPulled(stage.In)) Pull(stage.In);
                    }
                });
                <# } #>

            }

            public override void  OnPush()
            {
                var elements = _stage._unzipper(Grab(_stage.In));
                    
                <# for (var t = 0; t < i; t++) { #>
if (!IsClosed(_stage.Out<#=t#>)) 
                {
                    Push(_stage.Out<#=t#>, elements.Item<#=t+1#>);
                    _pending<#=t#> = true;
                }
                <# } #>

                _pendingCount = _downstreamRunning;
            }
        }		

        private readonly Func<TIn, (<#= typeParams #>)> _unzipper;
        /// <summary>
        /// Creates a stage that applies <paramref name="unzipper"/> to each input and emits tuple items on separate outputs.
        /// </summary>
        /// <param name="unzipper">A function that maps each input element to a tuple containing one value for each output.</param>
        public UnzipWith(Func<TIn, (<#= typeParams #>)> unzipper)
        {
            _unzipper = unzipper;

            InitialAttributes = Attributes.CreateName("UnzipWith");
            Shape = new FanOutShape<TIn, <#= typeParams #>>("UnzipWith");
            In = Shape.In;

<# for (var t = 0; t < i; t++) { #>
            Out<#=t#> = Shape.Out<#=t#>;
<# } #>
        }

        /// <summary>
        /// The input port that supplies elements to the splitter.
        /// </summary>
        public Inlet<TIn> In { get; }

<# for (var t = 0; t < i; t++) { #>
        /// <summary>
        /// Output port <c>Out<#=t#></c> for tuple item <c>Item<#=t+1#></c>.
        /// </summary>
        public Outlet<T<#=t#>> Out<#=t#> { get; }
<# } #>

        /// <summary>
        /// The attributes initially assigned to this graph stage.
        /// </summary>
        protected sealed override Attributes InitialAttributes { get; }
        /// <summary>
        /// The stage's input and typed output ports.
        /// </summary>
        public sealed override FanOutShape<TIn, <#= typeParams #>> Shape { get; }
        /// <summary>
        /// Creates the stage logic that applies the splitter and coordinates demand across its outputs.
        /// </summary>
        /// <param name="inheritedAttributes">The attributes inherited from the surrounding graph.</param>
        /// <returns>The logic that handles this stage's input and output ports.</returns>
        protected sealed override GraphStageLogic CreateLogic(Attributes inheritedAttributes)
        {
            return new UnzipWithStageLogic(Shape, this);
        }
    }
<# } #>
}
