<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <connectionStrings>
    <clear/>
    <add name="myConnectionString" connectionString="myDB://MyConnectionString"/>
  </connectionStrings>

  <akka>
    <hocon>
      <![CDATA[
akka.persistence.journal.sqlite = {
  connection-string-name = myConnectionString
  replay-filter = {
    mode = off
  }
}
      ]]>
    </hocon>
  </akka>
</configuration>