<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FsPickler" version="1.2.21" targetFramework="net45" />
  <package id="FSPowerPack.Core.Community" version="3.0.0.0" targetFramework="net45" />
  <package id="FSPowerPack.Linq.Community" version="3.0.0.0" targetFramework="net45" />
</packages>