<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.2.2" targetFramework="net45" />
  <package id="FSharp.Quotations.Evaluator" version="1.0.7" targetFramework="net45" />
  <package id="FsPickler" version="3.3.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net45" />
</packages>