<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka"/>
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
      akka {
        actor {
          provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
          serializers {
            wire = "Akka.Serialization.WireSerializer, Akka.Serialization.Wire"
          }
          serialization-bindings {
            "System.Object" = wire
          }
        }
        remote {
          helios.tcp {
            public-hostname = "localhost"
            hostname = "localhost"
            port = 0
          }
        }
        cluster {
          auto-down-unreachable-after = 5s
        }
        persistence {
          journal {
            plugin = "akka.persistence.journal.sqlite"
            sqlite {
              connection-string = "Data Source=.\\store.db;Version=3;"
              auto-initialize = true
            }
          }
          snapshot-store {
            plugin = "akka.persistence.snapshot-store.sqlite"
            sqlite {
              connection-string = "Data Source=.\\store.db;Version=3;"
              auto-initialize = true
            }
          }
        }
      }
      ]]>
    </hocon>
  </akka>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" >
      <dependentAssembly>
        <assemblyIdentity name="Google.ProtocolBuffers.Serialization" publicKeyToken="55f7125234beb589" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.555" newVersion="2.4.1.555" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.ProtocolBuffers" publicKeyToken="55f7125234beb589" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.1.555" newVersion="2.4.1.555" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>