<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
          akka {
            log-config-on-start = off
            stdout-loglevel = INFO
            loglevel = ERROR
            actor {
              provider = ""Akka.Remote.RemoteActorRefProvider, Akka.Remote""
              debug {
                  receive = on
                  autoreceive = on
                  lifecycle = on
                  event-stream = on
                  unhandled = on
              }
            }
            remote {
              #this is the new upcoming remoting support, which enables multiple transports
              helios.tcp {
                  transport-class = ""Akka.Remote.Transport.Helios.HeliosTcpTransport, Akka.Remote""
                  #applied-adapters = []
                  transport-protocol = tcp
                  port = 8091
                  hostname = ""127.0.0.1""
              }
            log-remote-lifecycle-events = INFO
          }
      ]]>
    </hocon>
  </akka>
</configuration>