<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="rewrite docs to articles" stopProcessing="true">
                    <match url="docs(.*)" />
                    <action type="Redirect" url="http://{HTTP_HOST}/articles{R:1}" />
                </rule>              
            </rules>
        </rewrite>
    </system.webServer>
</configuration>