<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="netcorenightly" value="https://www.myget.org/F/akka-netcore/api/v3/index.json" />
  </packageSources>
</configuration>