<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	  <add key="github-Arkatufus" value="https://nuget.pkg.github.com/arkatufus/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-Arkatufus>
      <add key="Username" value="arkatufus" />
      <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAbx/XNYxD5EWpec90tZrfzwAAAAACAAAAAAAQZgAAAAEAACAAAACfZc5SgjJFA9UZ7/2gyj+lxjXZ2ABhay57AOFv7J+T6gAAAAAOgAAAAAIAACAAAADh+V4KA3oHcX0P+aNQzohZTpCtafeEMhBe0QtCsS7dyDAAAACCtbsZjFwrTS0HVwcEu+X27iBD0s+lLewbxu0TCfiKLN4d6/gNK1o2G1wni4kFvZRAAAAAfBqjjGbpbzWPBFXcikTahj86RQOh0D12byTIlgt0N20lnWv0KxOSjcCuLUermRGcCvZoqpi6rhjMtSswAtU2BA==" />
    </github-Arkatufus>
  </packageSourceCredentials>
</configuration>