<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	  <add key="github-Arkatufus" value="https://nuget.pkg.github.com/arkatufus/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-Arkatufus>
      <add key="Username" value="arkatufus" />
      <add key="ClearTextPassword" value="26f5ee30ee6e5686bf292a25bd92fdcdf65ef249" />
    </github-Arkatufus>
  </packageSourceCredentials>
</configuration>